@font-face {
    font-family: mcfont;
    src: url(mcfont.ttf);
}
body {
    background-color:#262626;
    margin:0px;
    color:white;
}
body::-webkit-scrollbar { display: none; }
a {
    color:rgb(23, 139, 241);
    text-decoration:none;
    cursor:pointer;
}
p {
    color:white;
    font:32px mcfont, sans-serif;
    text-align:center;
}
t {
    font:30px mcfont, sans-serif;
}
#top-nav {
    height:calc(20vh - 10px);
    width:calc(100vw - 20px);
    background-color:#444;
    border: 10px solid #333333;
    border-top: none;
    border-radius:0 0 80px 80px;
    position: fixed;
    top:0;
    left:0;
    color:white;
    font:64px mcfont, sans-serif;
    text-shadow: 8px 8px #262626;
    display: flex;              
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#logoSpan {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}
#logo {
    height:16vh;
    filter: drop-shadow(8px 8px 0 #262626);
    margin-right: 32px;
    image-rendering: pixelated;
}
#big-nav {
    width:calc(100% - 60px);
    padding:30px;
    display:inline-block;
}
.link-cont {
    width:25vw;
    height:24vh;
    padding: 8vh 0 0 0;
    margin:0;
    float: left;
}
.link-cont-img {
    width:calc(100% - 6vw);
    height: 19vh;
    object-fit:cover;
    border-radius: 16px;
    margin: 0 3vw;
}
.link-cont-text {
    margin:0;
    height: 5vh;
    line-height: 5vh;
    width:100%;
}
#wrapper {
    margin-top: 20vh;
}
@keyframes popSpin {
  0% {
    transform: scale(1) translateY(0) rotate(0deg);
  }
  10% {
    /* pop out */
    transform: scale(1.4) translateY(80%) rotate(0deg);
  }
  60% {
    /* spin at the peak */
    transform: scale(1.2) translateY(40%) rotate(360deg);
  }
  90% {
    /* start settling back */
    transform: scale(1) translateY(10%) rotate(360deg);
  }
  100% {
    /* back to normal */
    transform: scale(1) translateY(0) rotate(360deg);
  }
}

#logoSpan.pop {
  animation: popSpin 0.6s ease-out forwards;
}