body {
    background-color:#262626;
    margin:0px;
    color:white;
}
a {
    color:white;
    text-decoration:none;
    cursor:pointer;
}
p {
    color:white;
    font:40px "Courier New";
    text-align:center;
}
t {
    font:30px "Courier New";
}
#top-nav {
    height:20vh;
    width:100vw;
    background-color:#333333;
    border-radius:0 0 80px 80px;
}
#logo {
    height:16vh;
    position:absolute;
    top:2vh;
    left:calc(50vw - 8vh);
}
#big-nav {
    width:calc(100% - 60px);
    padding:30px;
    display:inline-block;
}
.link-cont {
    width:25vw;
    height:24vh;
    padding: 8vh 0 0 0;
    margin:0;
    float: left;
}
.link-cont-img {
    width:calc(100% - 6vw);
    height: 19vh;
    object-fit:cover;
    border-radius: 16px;
    margin: 0 3vw;
}
.link-cont-text {
    margin:0;
    height: 5vh;
    line-height: 5vh;
    width:100%;
}
